items assets kind software-package url https://www.dropbox.com/s/1evmdi6v6zt7c1z/YouTube%2B%2B.ipa?dl=1 kind display-image needs-shine url http://www.weapp.com/picture/app_ios/cn/002/93/94/92/57x57bb.png kind full-size-image needs-shine urlhttp://www.weapp.com/picture/app_ios/cn/002/93/94/92/512x512bb.png metadata bundle-identifier com.aucores* bundle-version 1.0 kind software title YouTube
